.UserInput {
  background-color: var(--white);
  padding: 1.05rem 1rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 75%;
}

.UserInput textarea {
  width: 100%;
  min-height: 100px;
  padding: 0.75rem 1rem;
  border-radius: 7px;
  border-color: var(--light-gray);
  resize: none;
}

.UserInput textarea:focus-visible {
  outline: 1px solid var(--moderate-blue);
}

.UserInput div {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.UserInput img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.UserInput button {
  border-radius: 7px;
  border: none;
  background-color: var(--moderate-blue);
  color: var(--white);
  padding: 0.5rem 1rem;
}
